@import './App.scss';

$animate-hover: all 0.2s ease-in-out;

#about {
    background: var(--background-secondary);
    display: flex;
    justify-content: center;
}

#about-container {
    color: var(--foreground);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 48px;
    p {
        line-height: 1.8;
        margin-top: 0.85rem;
        margin-bottom: 0.85rem;
    }
    @media screen and (max-width: 850px) {
        flex-direction: column;
    }
}

.profile-description {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 1000px;
    position: relative;
    p {
        line-height: 160%;
    }
    .hover {
        margin: 0 auto;
        padding: 0 auto;
        transition: $animate-hover;
        position: relative;
        z-index: 2;
        &:before, &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 0px;
            height: 20px;
            margin: 5px 0 0;
            transition: $animate-hover;
            transition-duration: 0.75s;
            opacity: 0;
            background-color: var(--highlight);
            left: 0;
            border-radius: 10px;
            z-index: -1;
        }
        &:hover {
            cursor: pointer;
            &:before, &:after {
                width: 100%;
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 850px) {
        width: 100%;
        min-width: 100%;
    }
}

.profile-img {
    flex: 1 1 20%;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 750px;
    padding: 32px;
    @media screen and (max-width: 800px) {
        margin-top: 48px;
        min-width: 100%;
        width: auto;
        padding-left: 0;
    }
    .img {
        margin: auto;
        background-image: url('../public/profile.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40vw;
        height: 40vw;
        max-width: 750px;
        max-height: 750px;
        border-radius: 50%;
    }
}

#about .action {
    margin-top: 24px;
}

#about .action a {
    display: inline;
}