@import './App.scss';

#footer {
    background-color: var(--background-primary);
    color: var(--foreground);
    padding: 32px 0;
    text-align: center;
    bottom: 0;
    border-top: 2px solid var(--border);
    p {
        font-family: 'DM Sans';
        font-weight: 300;
        line-height: 1.6;
        color: var(--foreground);
        font-size: 14px;
    }
}