@import './App.scss';

#navbar {
    color: $light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;
    a {
        text-decoration: none;
        font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
        font-weight: 700;
        color: $light;
        &:hover {
            color: #fff;
        }
    }
}

.transparent {
    background: transparent;
}

.solid {
    background: $dark;
}

.brand {
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
    a {
        text-decoration: none;
        h1 {
            font-size: 32px;
            color: $light;
        }
    }
}

.collapseable {
    display: flex;
    flex-direction: row;
    .nav-item {
        margin-left: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.toggle-menu {
    display: none;
}

.toggled-menu {
    display: flex;
    a {
        font-size: 32px;
    }
}

.collapsed {
    display: none;
}

.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: $dark;
    top: 80px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    padding: 32px;
    padding-top: 24px !important;
    .nav-item {
        margin-bottom: 12px;
        a {
            width: 100%;
            display: block;
        }
    }
    .action {
        a {
            width: auto;
            display: inline-block;
            margin-top: 12px;
        }
    }
}