@import './App.scss';

.project {
    background-color: #FAFAFA;
    padding: 32px;
    color: $dark;
    border-radius: 32px;
    flex: 0 0 49%;
    margin-top: 24px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 760px) {
        min-width: 100%;
    }
    &:hover {
        background-color: #fff;
        color: $dark;
    }
    &:hover ~ .title {
        color: $primary;
    }
    .project-image {
        height: 318px;
        width: 100%;
        background-size: cover;
        border-radius: 16px;
        background-position: center;
    }
    h2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 12px;
        position: relative;
    }
    p {
        line-height: 1.5;
        margin-bottom: 12px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        margin-top: -8px;
        margin-top: auto;
    }
    .github, .link {
        color: $dark;
        position: absolute;
        font-size: 24px;
        right: 0;
        bottom: 10px;
        &:hover {
            color: $primary;
        }
    }
    .github {
        right: 36px;
    }
}