@import './App.scss';

.project {
    background-color: var(--background-card);
    padding: 32px;
    color: var(--foreground);
    border-radius: 16px;
    flex: 0 0 49%;
    max-width: 750px;
    margin-top: 24px;
    box-sizing: border-box;
    border: 2.5px solid var(--border);
    position: relative;
    display: flex;
    flex-direction: column;
    transition: border-color 0.5s ease-in-out;
    @media screen and (max-width: 850px) {
        min-width: 100%;
    }
    &:hover {
        color: var(--foreground);
        border-color: var(--primary);
        transition: border-color 0.5s ease-in-out;
    }
    &:hover ~ .title {
        color: var(--primary);
    }
    .project-img-container {
        width: 100%;
        height: 318px;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }
    .project-image {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-position: center;
    }
    .project-img-container:hover .project-image,
    .project-img-container:focus .project-image {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    .project-img-container:hover .project-image:before,
    .project-img-container:focus .project-image:before {
        display: block;
    }
    h2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 12px;
        position: relative;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--primary);
            transition: color 0.2s ease-in-out;
        }
    }
    p {
        line-height: 1.5;
        margin-bottom: 12px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        margin-top: -8px;
        margin-top: auto;
    }
    .github, .link {
        color: var(--foreground);
        position: absolute;
        font-size: 24px;
        right: 0;
        bottom: 10px;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--primary);
            transition: color 0.2s ease-in-out;
        }
    }
    .github {
        right: 36px;
    }
}