@import './App.scss';

.skill {
    background-color: var(--background-tertiary);
    color: var(--foreground-secondary) !important;
    margin-right: 8px; 
    margin-top: 8px;
    &:hover {
        color: var(--foreground-secondary) !important;
    }
}